<div class="container-fluid w-100 h-100 login-page">
    <div class="login-card row mx-0">

        <div class="login-left-pane col-lg-6">

            <div class="d-flex login-title">
                <site-icon class="site-icon"></site-icon>
                <div class="site-heading d-flex" routerLink="dashboard">
                    <span class="headline">Cyber Wizard</span>
                    <span class="tagline">An initiative for Safe Cyber Space</span>
                </div>
            </div>

            <div class="login-card-body">
                <div class="login-header">Login</div>
                <div class="login-tagline">Please sign in to continue.</div>
                <form class="login-form" (ngSubmit)="login()">
                    <mat-form-field class="w-100 full-width" appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Email" name="username" [formControl]="email">
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 full-width" appearance="standard">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" name="password" [formControl]="password">
                        <mat-error *ngIf="password.invalid">Password Required</mat-error>
                    </mat-form-field><br/>
                    <button mat-raised-button type="submit" color="primary" class="login-button">Login &rarr;</button>
                </form>
            </div>

        </div>

        <div class="login-right-pane col-lg-6"></div>

    </div>
</div>

<ng-template #errorDialog>
    <h2 matDialogTitle>Login Failed!</h2>
    <mat-dialog-content>
      <p>Invalid credentials</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button matDialogClose color="primary">Dismiss</button>
    </mat-dialog-actions>
</ng-template>