/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}

body {
    margin: 0;
    font-family: 'Poppinss', sans-serif;
    background: #f0f8ff;
}

.card {
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00136c;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}